body {
  margin: 0;
   font-family: "Trebuchet MS", sans-serif;
  font-size: 12px;
  background: #f5f5f5;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1100px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

/* INPUTS */
.input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

input, select {
  padding: 8px;
}

/* TABLE */
.item {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  align-items: center;
}

.header {
  font-weight: bold;
  background: #eee;
}

/* LINES */
.item span,
.item button {
  border-right: 1px solid #ddd;
  padding: 5px;
}

.item span:last-child,
.item button:last-child {
  border-right: none;
}

button {
  cursor: pointer;
}
input[type="color"] {
  width: 40px;
  height: 30px;
  border: none;
}